@import '~styles/media';
@import '~styles/variables';

.postContent {
  display: flex;
  justify-content: space-evenly;
  height: 25vw;
  width: 80%;
  color: $color-monochromacy;
  margin: 250px auto 500px;
  background-color: $color-white;
  box-shadow: 0 0 9px 5px rgba(90, 90, 90, 0.315);

  @include _media-max1024 {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;
    margin: 100px auto;
    box-shadow: none;
  }
}

.postContentReverse {
  flex-direction: row-reverse;

  @include _media-max1024 {
    flex-direction: column;
  }
}

.imgParallax {
  position: relative;
  height: 100%;
  width: 20vw;

  .imgWrapper {
    width: 100%;
    top: -10%;
    height: 35vw;
    overflow: hidden;
    background-position: center;
    object-fit: cover;
    box-shadow: 0 0 9px 5px rgba(105, 105, 105, 0.315);

    @include _media-max1360 {
      height: 38vw;
    }

    @include _media-max1024 {
      position: absolute;
      width: 100%;
      box-shadow: none;
    }
  }

  .contentImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include _media-max1024 {
    width: 80%;
  }
}

.textWrapper {
  margin: auto 0;
}

.postTitle {
  width: 30vw;
  font-size: 1.5vw;
  font-weight: bold;
  margin-bottom: 20px;
  color: $color-monochromacy;

  @include _media-max1024 {
    width: 80vw;
    text-align: center;
    font-weight: 400;
    font-size: 4vw;
    margin-top: 30vh;
  }
}

.postText {
  width: 40vw;
  font-size: 1vw;
  letter-spacing: 0.2vh;
  line-height: 2.7vh;

  @include _media-max1024 {
    width: 60vw;
    font-size: 2vw;
    margin: 0 auto;
  }
}
