@import '~styles/variables';
@import '~styles/media';

.postsWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  letter-spacing: 0.2vh;
  line-height: 2.7vh;
}

.wrapBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: fixed;
  border: 1px solid $color-horizon;
  padding: 0 -10px;
  top: 40vh;
  left: 95vw;
  width: 7px;
  height: 25vh;
  opacity: 0.7;
  transition: opacity 0.3s;
  z-index: 14;

  @include _media-max1024 {
    left: 92vw;
  }
}

.progressLine {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $color-horizon;
}

.wrapAnchor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid $color-horizon;
  background-color: $color-white;
  border-radius: 50%;
  margin: -10px 0;
  z-index: 10;
  transition: 1s;

  &:hover {
    background-color: $color-horizon;
  }

  @include _media-max1024 {
    &:hover {
      background-color: $color-white;
    }
  }
}

.anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  border: 1px solid $color-horizon;
  border-radius: 50%;
  background-color: $color-white;
  transition: all 1s;

  &.anchorCurrent {
    background-color: $color-horizon;
  }
}

.isCurrent {
  background-color: $color-horizon;
}

.isDisable {
  pointer-events: none;
}

.isOpacity {
  opacity: 0;
}
