@import '~styles/variables';
@import '~styles/media';

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100vw;
  z-index: 50;

  @include _media-max1024 {
    flex-direction: column;
    height: 100vh;
  }
}

.wrapperBtn {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  position: absolute;
  z-index: 60;
}

.click {
  width: 100%;
  height: 100%;
}

.imgWrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: 1s;
  position: absolute;
}

.div {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: 1s;
}

.div1 {
  transform: translate3d(37.5%, 0, 0);
}

.div2 {
  transform: translate3d(-37.5%, 0, 0);
}

.div3 {
  transform: translate3d(-37.5%, 0, 0);
}

.div4 {
  transform: translate3d(37.5%, 0, 0);
}

.post {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.postHover:hover {
  filter: brightness(150%);
}

.isVisibility {
  // transition-delay: 1s;
  visibility: hidden;
  z-index: -100;
}

.active {
  transform: translate3d(0, 0, 0);
}

.activeZindex {
  z-index: 10;
}

.active div {
  transition: 1s;
  transform: translate3d(0, 0, 0);
}

.btnReturn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 5px;
  top: 95vh;
  left: 2vw;
  height: 22px;
  width: 22px;
  z-index: 15;
  transition: box-shadow 1s;
  background-color: rgb(238, 238, 238);
  cursor: none;

  &:hover {
    box-shadow: 0 0 9px 5px rgba(90, 90, 90, 0.315);
  }
}

.imgBack {
  width: 20px;
  height: 20px;
}
