@import '~styles/variables';
@import '~styles/media';

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100vw;
  z-index: 50;

  @include _media-max1024 {
    flex-direction: column;
    height: 100vh;
  }
}

.imgWrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-size: large;
  width: 100vw;
  transition: 1s;
  transform: translate3d(0, 0, 0);
  background-color: $color-white;
}

.post {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  filter: brightness(99%);
  transition: filter 1s;
  background-color: transparent;

  &:hover {
    filter: brightness(120%);
    opacity: 0.8;
  }
}

.isHiden {
  width: 0;
  transition: 1s;

  @include _media-max1024 {
    height: 0;
    width: 100vw;
  }
}

.isVisibility {
  transition-delay: 1.05s;
  visibility: hidden;
  z-index: -100;
}

.btnReturn {
  position: fixed;
  color: black;
  top: 30vh;
  left: 95vw;
  z-index: 500;
  transition: 1s;

  &:hover {
    background-color: chartreuse;
  }
}
