@import '~styles/variables';
@import '~styles/media';

.postWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  color: $color-black;
}

.hlp {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 140vh;
  width: 100%;
}

.headerImgWrapper {
  position: sticky;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 150vh;
}

.headerImg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.headerPost {
  position: sticky;
  top: 0;
  padding: 3vh 0;
  z-index: 10;
  background-color: $color-white;
  background-color: rgb(231, 231, 231);
  box-shadow: 0 0 12px 5px rgba(121, 121, 121, 0.315);
}

.headerPostTitle {
  width: 55vw;
  position: sticky;
  font-size: 3vw;
  text-align: center;
  line-height: normal;
  margin: 0 auto;
  text-transform: uppercase;
  color: $color-monochromacy;
}

.headerPostText {
  width: 30vw;
  text-align: center;
  line-height: normal;
  margin: 0.5vw auto 0;
  font-weight: 100;
  color: rgb(0, 0, 0);

  @include _1024 {
    font-size: 2vw;
  }
}

.postContentWrap {
  position: relative;
  padding: 1px 0;
  background-color: $color-white;
}
