@import '~styles/media';
@import '~styles/variables';

html,
body {
  // cursor: none;
}

a {
  cursor: none;
}

.cursor {
  width: 25px;
  height: 25px;
  border: 1px solid $color-horizon;
  border-radius: 100%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transition: all 50ms ease;
  transition-property: opacity, background-color, transform, mix-blend-mode;

  @include _media-max1024 {
    display: none;
  }
}

.cursorHidden {
  opacity: 0;
}
