@import '~styles/media';
@import '~styles/variables';

a {
  cursor: none;
}

.cursorWrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 50ms ease;
  z-index: 9999;
}

.cursor {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  pointer-events: none;
  border: 1px solid $color-horizon;
  position: fixed;
  transform: scale(1.6);
  transition: 0.5s;
}

.mouseMove {
  transform: scale(1);
}

.cursorHidden {
  transition: 0.1s;
  opacity: 0;
}
