@import '~styles/media';
@import '~styles/variables';

html,
body {
  // cursor: none;
}

a {
  cursor: none;
}

.cursorWrapper {
  position: fixed;
  transition: all 50ms ease;
  z-index: 9999;
}

.cursor {
  width: 25px;
  height: 25px;
  border: 1px solid $color-horizon;
  border-radius: 100%;
  pointer-events: none;
  position: fixed;
  top: -13px;
  left: -13px;
  mix-blend-mode: difference;
  transition-property: opacity, background-color, transform, mix-blend-mode;
}

.cursorHidden {
  transition: 0.1s;
  opacity: 0;
}
