@import '~styles/variables';
@import '~styles/media';

.postsWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  letter-spacing: 0.2vh;
  line-height: 2.7vh;
}

.wrapBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: fixed;
  border: 1px solid $color-horizon;
  padding: 0 -10px;
  top: 40vh;
  left: 95vw;
  width: 7px;
  height: 25vh;
  opacity: 0.7;
  transition: opacity 0.4s;
  z-index: 14;

  @include _1024 {
    left: 92vw;
  }
}

.progressLine {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $color-horizon;
}

.wrapAnchor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid $color-horizon;
  background-color: white;
  border-radius: 50%;
  margin: -10px 0;
  z-index: 10;
}

.anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border: 1px solid $color-horizon;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  transition: 1s;

  &:hover {
    background-color: rgb(90, 175, 104);
  }

  &.anchorCurrent {
    background-color: $color-horizon;
  }

  @include _1024 {
    &:hover {
      border: 1px solid $color-horizon;
    }
  }
}

.isCurrent {
  background-color: $color-horizon;
}

.isDisable {
  pointer-events: none;
}

.isOpacity {
  opacity: 0;
}

.btnReturn {
  position: fixed;
  color: black;
  top: 30vh;
  left: 95vw;
  z-index: 500;
  transition: 0.5s;

  &:hover {
    background-color: chartreuse;
  }
}
